# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDE/editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependencias
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Archivos compilados
dist/
build/
*.min.js

# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
